/*!
 * Start Bootstrap - Shop Homepage (https://startbootstrap.com/template-overviews/shop-homepage)
 * Copyright 2013-2017 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-shop-homepage/blob/master/LICENSE)
 */
@font-face {
    font-family: 'Yekan';
    src: url(fonts/Yekan.eot);
    src: url(fonts/Yekan.eot?#iefix) format("embedded-opentype"), url(fonts/Yekan.woff) format("woff"), url(fonts/Yekan.ttf) format("truetype"), url(fonts/Yekan.svg#BYekan) format("svg");
    font-weight: normal;
    font-style: normal
}

body {
    padding-top: 54px;
    font-family: Yekan, Tahoma;
}

a:hover {

    text-decoration: none;

}

img.card-img-top {
    height: 150px;
    width: 100%;
}

p.card-text {

    text-align: justify;
    font-size: 14px;

}

ul.list-unstyled {

    padding: 0px;
    margin: 0px;

}

a.ftSize13 {

    font-size: 13px !important;

}

span.price {

    font-size: 14px;
    color: #a1a1a1

}

span.pay {
    float: right;
    font-size: 10px;
    padding: 5px 10px;
    margin-top: 10px;

}
img.sliderImage{

    width: 100%;
    height: 250px;

}
p.lead {

    font-size: 14px;
    text-align: justify;
    line-height: 30px;

}

div.card-body h6 {

    color: #9d9d9d

}

a.list-group-item {

    font-size: 13px;

}

div.card-body p {

    font-size: 13px;
    text-align: justify;

}

.catIcon {

    position: relative;
    top: 3px;

}

@media (min-width: 992px) {
    body {
        padding-top: 56px;
    }
}