/*
Theme Name: wooTheme
Theme URI: https://www.7learn.com
Author: 7learn team
Author URI: https://www.7learn.com
Description: قالب دوره متخصص وردپرس و ووکامرس سون لرن
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags:
Text Domain: woo_experts
*/
body {
    direction: rtl;
    font-family: is, "Arial Hebrew", Arial, sans-serif;
}

.main-content p {
    line-height: 1.8;
}

.member-wrapper {
    background: #e15555;
}

.member-wrapper p {
    color: white;
    padding: 5px 10px;
}

.download-box {
    background: #e3e3e3dd;
    padding: 10px;
    text-align: center;
}

p, h1, h2, h3, h4, h5, h6, span, a:not(.fa) {
    font-family: is !important;
}

.main_menu > li:hover > a {
    text-decoration: none;
    border-bottom: 1px solid #333333;
}

.main_menu li {
    position: relative;
}

.main_menu > li:hover > .sub-menu {
    visibility: visible;
    opacity: 1;
}

.sub-menu {
    list-style-type: none;
    position: absolute;
    z-index: 1100;
    top: 0;
    left: 100%;
    width: 225px;
    background-color: #222222;
    opacity: 0;
    visibility: hidden;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
}

.main_menu > li > .sub-menu {
    top: 100%;
    left: 0;
    position: absolute;
}

.sub-menu li:hover > .sub-menu {
    visibility: visible;
    opacity: 1;
}

.sub-menu li {
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
}

.sub-menu li, .sub-menu a {
    padding: 10px;
    font-family: Montserrat-Regular;
    font-size: 13px;
    color: white;
}

.sub-menu > li:hover > a {
    color: #e65540;
    text-decoration: none;
}

.woocommerce-products-header {
    text-align: center;
}

.added_to_cart {
    display: block !important;
    background: #1f801f;
    color: #fff;
    text-align: center;
    padding: 5px 0;
}

.add_to_cart_button {
    display: block !important;
    margin-bottom: 10px !important;
    text-align: center;
}

.woocommerce ul.products li.product .onsale {
    margin: 0 !important;
    right: 0 !important;
    left: auto;
    padding: 0 10px;
}

.woocommerce span.onsale {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.add-to-card-wrapper {
    position: relative;
}

.added_to_cart {
    position: absolute;
    width: 100%;
    top: 0;
}

.price del {
    display: none !important;
}

.price ins {
    text-decoration: none;
}

.single-product-on-sale {
    top: 0 !important;
    right: 0 !important;
    padding: 0 10px !important;
}

.product_title {
    font-size: 1.8rem;
    margin: 0 0 20px 0;
}

p.price {
    margin-bottom: 50px;
}

.woocommerce-Price-amount {
    font-size: 1.1rem;

}

.woocommerce-product-details__short-description {
    margin-bottom: 30px;
}

.input-text.qty {
    border: 1px solid #ddd !important;
    height: 35px !important;
}

.single_add_to_cart_button {
    font-weight: 100 !important;
    background: #44b35c !important;
}

.product_meta {
    margin: 30px 0;
}

.product_meta .sku_wrapper,
.product_meta .posted_in {
    display: block;
}

.woocommerce-input-wrapper input[type="text"] {
    border: 1px solid #ddd !important;
}

.woocommerce-page .m-text24 {
    text-align: center;
}

.woocommerce-MyAccount-navigation {
    background: #eaeaea;
    padding: 30px;
}

.woocommerce-MyAccount-navigation-link {
    height: 40px;
    margin-bottom: 10px;
}

.woocommerce-MyAccount-navigation-link a {
    display: block;
}

.woocommerce-MyAccount-content {
    padding: 50px;
    box-shadow: 0 0 5px #ddd;
}